:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 75%;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  white-space: nowrap;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column h5 {
  margin: 0;
}

.btn-sml {
  white-space: nowrap;
  width: 100px; /* Set a fixed width to ensure uniform size */
  padding: 5px;
  font-size: 12px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.headerColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
